# Dependencies
node_modules/

# Build
dist/

# Playwright
/test-results/
/playwright-report/
/blob-report/
playwright/.cache/
/pdf-service/package-lock.json
/pdf-service/node_modules/
/pdf-service/package.json
/pdf-service/server.mjs
# Local env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Capacitor
android/
ios/
