# Dependencies
node_modules/

# Build
dist/

# Playwright
/test-results/
/playwright-report/
/blob-report/
playwright/.cache/

# Local env
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Capacitor
android/
ios/
